<div>
    <div><a ng-link="['Search']">Back to list</a></div>
    <div class="detail">

        <table class="u-full-width">
            <caption><h3>{{ $ctrl.arti.name }}</h3></caption>
            <tr>
                <td ng-bind-html="$ctrl.description"></td>
                <td rowspan="2" class="imgTd">
                    <img class="detailImage" ng-src="{{$ctrl.imagePath($ctrl.arti.photos)}}">
                </td>
            </tr>
            <tr>
                <td>Category: {{ $ctrl.arti.category.name }}</td>

            </tr>
            <tr>
                <td>Seller: {{ $ctrl.arti.seller.nick }}</td>
                <td class="imgTd">
                    <img class="detailAvatarImage" ng-src="{{$ctrl.imagePath($ctrl.arti.seller.avatar)}}">
                </td>
            </tr>
            <tr>
                <td>Publish date: {{ $ctrl.arti.published_date}}</td>
            </tr>
            <tr>
                <td>State: {{ $ctrl.arti.state }}</td>
            </tr>
            <tr>
                <td>Price: {{ $ctrl.arti.price }} €</td>
            </tr>
        </table>

    </div>
</div>
