<!-- All the articles -->
<div class="row search">
    <div class="buttonlist">
        <div><button ng-click="$ctrl.categorySearch()">TODOS</button></div>
        <div class="categoryButton" ng-repeat="cat in $ctrl.category">
            <button ng-click="$ctrl.categorySearch(cat.id)">{{::cat.name}}</button>
        </div>
    </div>
    <searchbox-div></searchbox-div>
    <div class="three columns searchResult" ng-repeat="art in $ctrl.article | filter:searchText | filter: categoria">
        <div>
            <a class="searchTitle" ng-link="['ProductDetails', {id: art.id}]">
                <img ng-src="{{$ctrl.imagePath(art.photos)}}" alt="{{::art.name}}">
            </a>
        </div>
        <div>
            <a class="searchTitle" ng-link="['ProductDetails', {id: art.id}]">
                {{::art.name}}
            </a>
        </div>
    </div>
</div>