.catContainer {
    background: white;
}

.category {
    display: inline-block;
    margin: 1em 5em 1em 5em;
}

header {
    margin-bottom: 1em;
}
header div{
    display: inline-block;
    margin-right: 9.8em;
    vertical-align: middle;
}

.heading {
    text-align: center;
}

img {
    width: 95%;
    height: 95%;
}

.link {
    color: white;
    text-decoration: none;
}

.category a:hover {
    color: red;
}

.search {
    text-align: center;
}

.searchbox {
    margin-top: .5em;
}

.searchResult {
    display: inline-block;
    height: 22em;
    margin: .7px;
    margin-bottom: 10px;
    padding: 8px;
}
