.buttonlist div {
    display: inline-block;
    margin-right: .5em;
}

.buttonPers {
    border-style: none;
}

.buttonPers:hover {
    color: red;
    font-size: .8em;
}

.categoryButton {
    margin-right: 1.4em;
}

.detail {
    display: inline-block;
}

.detailImage {
    width: 50%;
    height: 50%;
}

.detailAvatarImage {
    width: 10%;
    height: 10%;
}

header {
    margin-bottom: 1em;
}
header div{
    display: inline-block;
    margin-right: 9.8em;
    vertical-align: middle;
}

.heading {
    text-align: center;
}

img {
    width: 95%;
    height: 95%;
}

.link {
    color: white;
    text-decoration: none;
}

.search {
    text-align: center;
}

.searchbox {
    margin-top: .5em;
}

.searchResult {
    display: inline-block;
    height: 22em;
    margin: .7px;
    margin-bottom: 10px;
    padding: 8px;
}

.searchTitle {
    text-decoration: none;
    color: darkblue;
}

table {
    table-layout: fixed;
}

td {
    border-style: none;
}

.imgTd {
    text-align: center;
    vertical-align: top;
    width: 50%;
    height: 50%;
}

a:hover {
    color: red;
}
